<h3>Editing Book</h3>
<%= form_for(@book,url:"/books/#{@book.id}") do |f| %>
<% if @book.errors.any? %>
    <div class="alert alert-danger">
      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p>title</p>
<%= f.text_field :title %>
<p>body</p>
<%= f.text_area :body %>
<%= f.submit "Update Book" %>
<% end %>