<h1 class="edit-title">Editing Book</h1>

<%= form_for(@book,url:"/books/#{@book.id}") do |f| %>


  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
      <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

<div class="field">
  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :body, "Body" %>
  <%= f.text_area :body %>
</div>
<div class="actions">
  <%= f.submit "Update Book" %>
</div>
<% end %>

  <a><%= link_to "Show",show_books_path(@book.id) %></a>
  <a> | </a>
  <a><%= link_to "Back",books_path %></a>